* {
    box-sizing: border-box;
}
body {
    margin: 0;
}

main {
    max-width: 550px;
    margin: 20px auto;
    border-radius: 15px;
    font-family: 'Inter', sans-serif;    
     
}

#input-container, #results-container {
    display: flex;
    flex-direction: column;
    align-items: center;    
}

#input-container {
    border-radius: 5px 5px 0 0; 
    background-color: #064e3b;
    color: white;  
}

h1 {
    padding-top: 33px;
    margin: 0;
    font-size: 28px;
    text-shadow: 0px 0px 5px black;
}

#number-input {
    max-width: 200px;    
    margin-top: 34px;  
     
    border: 1px solid white;
    border-radius: 5px; 
    
    background-color: #064e3b;
    color: white;
    
    font-size: 58px;    
    font-weight: 800;   
    text-align: center;       
}



#convert-btn {
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 15px 60px;  
         
    border: none;
    border-radius: 5px; 
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.05);   

    background: white;
    color: #3d3d3d;
    
    font-size: 20px;
    font-weight: bold;
    font-family: Inter, sans-serif;  
}

#results-container {    
    padding-top: 10px;   
    padding-bottom: 34px;
    background: #f4f4f4;
}

.result{
    width: 500px;    
    margin-top: 25px;
    border-radius: 5px;     
    background: white;   
    text-align: center; 
}

.result h3 {
    color: #2d4532;
    font-size: 20px;
    font-weight: 600;
}

.result p {
    color: #353535;
    font-size: 14px;
}
